.logoBox {
    width: 155px;
    height: 30px;
    margin-top: 50px;
}

.logoBox a {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url(https://ssl.pstatic.net/static/nid/login/m_sp_00_common_978240a6.png);
    background-size: 244px 107px;
    background-repeat: no-repeat;
    background-position: 0 -51px;
    background-repeat: no-repeat;
    vertical-align: top;
}

.loginBox {
    margin-top: 20px;
    width: 420px;
    padding: 21px 20px 18px;
    text-align: center;
    border: 1px solid #e3e5e8;
    border-radius: 8px;
}

.loginBox .loginBox__input-box .idInputBox,
.loginBox .loginBox__input-box .pwInputBox {
    position: relative;
}

.loginBox .loginBox__input-box .idInputBox label,
.loginBox .loginBox__input-box .pwInputBox label {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.38);
}

.loginBox .loginBox__input-box .idInputBox input,
.loginBox .loginBox__input-box .pwInputBox input {
    display: block;
    width: 100%;
    height: 60px;
    padding: 27px 15px 8px;
    border: 1px solid #c5ccd2;
    border-radius: 8px 8px 0 0;
}

.loginBox .loginBox__input-box .pwInputBox input {
    border-radius: 0 0 8px 8px;
}

.loginBox .loginBox__input-box .tryAgainIdScript {
    display: none;
    margin: 10px 0;
    text-align: left;
    font-size: 11px;
    color: #ff0101;
}

.loginBox .loginBox__input-box .tryAgainIdScript span {
    font-weight: 700;
}

.loginBox .loginBox__input-box .tryAgainIdScript.active {
    display: block;
}

.loginBox .loginBox__input-box .tryAgainPwScript {
    display: none;
    margin: 10px 0;
    text-align: left;
    font-size: 11px;
    color: #ff0101;
}

.loginBox .loginBox__input-box .tryAgainIdOrPwScript {
    display: none;
    margin: 10px 0;
    text-align: left;
    font-size: 11px;
    color: #ff0101;
}

.loginBox .loginBox__input-box .tryAgainPwScript span {
    font-weight: 700;
}

.loginBox .loginBox__input-box .tryAgainPwScript.active {
    display: block;
}

.loginBox .loginBox__input-box .tryAgainIdOrPwScript {
    display: none;
}

.loginBox .loginBox__input-box .tryAgainIdOrPwScript.active {
    display: block;
}

.loginBox .loginBox__input-box .submitBox input {
    margin: 8px 0;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
    display: block;
    width: 100%;
    background-color: #03c75a;
    padding: 17px 0;
    color: #eee;
    border-radius: 8px;
}

.loginBox .loginBox__input-box .submitBox input:hover {
    background-color: #17b75e;
}

.goToMemberURL {
    margin-top: 20px;
    color: #606060;
    font-size: 12px;
}

.goToMemberURL li:nth-child(2)::before,
.goToMemberURL li:nth-child(2)::after {
    content: "";
    display: inline-block;
    border-left: 1px solid #606060;
    height: 10px;
    margin: 0 8px;
}

.goToMemberURL li:hover {
    text-decoration: underline;
}


